@use '../../styles/vars.scss';

.Alerts {
  position: fixed;
  bottom: 10px;
  right: 10px;
  left: 10px;
  z-index: 99999;
  display: flex;
  flex-direction: column-reverse;
}

.Alerts--item {
  font-size: 14px;
  margin-top: 10px;
  border: 1px solid rgba(white, 0.2);
  box-shadow: rgba(black, 0.2) 0 4px 8px;
  padding: 20px;
  cursor: default;
  border-radius: 3px;
  animation: 200ms ease-out alertEnter;

  &.error {
    background: #672727;
    color: white;
  }

  &.success {
    background: vars.$blue;
    border: 1px solid rgba(black, 0.2);
    color: white;
  }
}

@keyframes alertEnter {
  0% {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
